body{
    background: #000000;
}.sohbet{
    width: 80%;
    height: 1400px;
    margin: auto;
    background: url('arkaplan.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 15px;  
}.header{
    height:75px;
    background: #000000;
    opacity: 0.4;
    color: #FFF;
    font-size: 45px;
    text-align: center;
    line-height: 1.5;
}.odaSecim {
    opacity: 0.8;
    background: #000000;
    font-size: 25px;
    color: #FFF;
    width: 50px;
    text-align: center;
    border-radius: 0 0 0 0;
    border-bottom: rgb(129, 129, 129) 1px solid;
    cursor: pointer;
}.odaSecim:hover {
    opacity: 0.6;
    background: #FFF;
    color: #000000;
}.sohbetPaneli {
    text-align: right;
    height: 846px;
    width: 70%;
    float: left;
    background: #000000;
    opacity: 0.8;
    color: #FFF;
    font-size: 25px;
    position: relative;
    border-radius: 0 0 20px 0;
    overflow: hidden;
}.onlineKullanici {
    border-radius: 15px;
    width: 20%;
    height: 845px;
    background: #000000;
    opacity: 0.8;
    float: right;
    color: #FFF;
    text-align: center;
}.onlineKullanici ul {
    list-style: none;
    float: left;
    font-style: italic;
    font-size: 24px;
    cursor: pointer;
}.onlineKullanici ul li {
    margin-bottom: 13px;
}.onlineKullanici ul li:hover {
    opacity: 1;
    background: #FFF;
    color: #000000;
}.mesajYazim {
    width: 100%;
    height: 140px;
    background:  rgb(153, 110, 85);
    position:absolute; 
    bottom:0px;
    margin: auto;
    border-radius: 20px;
}.ortala{
    width: 50%;
}textarea {
    float: left;
    resize:none;
    width: 75%;
    height: 134px;
    background: rgb(153, 110, 85);
    border:none;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border-radius: 15px;
}.gonderMesaj {
    float: right;
    width: 14%;
    height: 140px;
    border-radius: 15px;
    border: none;
    background: #ffffff;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}.sohbetPaneli li {
    list-style: none;
    margin-right: 35px;
    font-size: 83%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}.sohbetPaneli li span {
    cursor: pointer;
}.reportEkran{
    width: 350px;
    height: 300px;
    background: rgb(110, 60, 31);
    margin: auto;
    border-radius: 25px;
    margin-top:150px;
    text-align: center;
    overflow: hidden;
    padding: 20px;
    padding-top: 70px;

}.devam{
    width: 100%;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 550;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    height: 55px;
    border:none;
}.devam:hover {
    opacity: 0.8;
}